<div class="modal fade" id="ModalAddComment" tabindex="-1" role="dialog" aria-labelledby="meinModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
				
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Schließen</span></button>
				<h4 class="modal-title" id="meinModalLabel">Kommentar erstellen</h4>
			</div>
						
			<div class="modal-body">
											
				<form id="form-comment" onsubmit="return false">
								
					<div class="row form-group">
						<label for="url">URL*</label>
						<input class="form-control" name="url" id="inputURL" type="text">
						<div class="help-block error-message"></div>
					</div>
								
					<div class="row form-group">
						<label for="title">Titel</label>
						<input class="form-control" name="title" id="inputTitle" type="text">
						<div class="help-block error-message"></div>
					</div>
								
					<div class="row form-group">
						<label for="text">Freitext*</label>
						<textarea class="form-control" rows="3" name="text" id="inputText" type="text">
						<div class="help-block error-message"></div>
					</div>
								
					<div class="row form-group">
						<label for="startDate">Zeitraum</label>
							<div class="input-group">
					            <input class="form-control" readonly name="startDate" id="inputStartDate" type="text"placeholder="Startzeitpunkt">
								<span id="show-datepicker-startComment" class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
					        </div>
					        <span class="help-block error-message"></span>
					</div>
								
					<div class="row form-group">
						<div class="input-group">
					    	<input class="form-control" readonly name="endDate" id="inputEndDate" type="text"placeholder="Endzeitpunkt">
							<span id="show-datepicker-endComment" class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
					    </div>
					    <span class="help-block error-message"></span>
					</div>
								
					<div class="row form-group">
						<div class="input select rating-stars">
							<label for="ratingComment">Bewertung</label>
							<select id="ratingComment" name="rating">
								<option value="" selected="selected"></option>
								<option value="1">1</option>
							    <option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
							</select>
						</div>
					</div>
							
					<button type="submit" class="btn btn-primary" id="addCommentBtn">Erstellen</button>
					
				</form>
							
			</div>
						
			<div class="modal-footer">
				<div class="row clearfix">
					<div class="col-md-2 column">
						<label>*Verpflichtend</label>
					</div>
				</div>
			</div>
				
		</div>
	</div>
</div>
			
 <!-- For barRating-plugin; loaded in header, otherwise it doesnt works -->
 <script type="text/javascript" src="/js/plugins/barRating/jquery.barrating.min.js"></script>
 <script type="text/javascript" src="/js/plugins/barRating/rating-views.js"></script>
		
<!-- For the datePicker-plugin -->
<script type="text/javascript" src="/js/plugins/datePicker/datepicker.min.js"></script>
<script type="text/javascript" src="/js/plugins/datePicker/datePicker-views.js"></script>