<div class="modal fade" id="ModalLogin" tabindex="-1" role="dialog" aria-labelledby="meinModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Schließen</span></button>
				<h4 class="modal-title" id="meinModalLabel">Anmelden</h4>
			</div>
			
			<div class="modal-body">
						
				<form id="form-login">
					
					<div class="row form-group">
						<label for="usernameInput">E-Mail-Adresse / Benuzername</label>
						<input class="form-control" rows="3" name="usernameInput" id="inputUsername" type="text" data-bvStrict="notEmpty" data-bvSwitch=""></textarea>
						<div class="help-block error-message">Bitte füge deine E-Mail-Adresse oder deine Benutzernamen hinzu</div>
					</div>
							
					<div class="row form-group">
						<label for="passwordLoginInput">Passwort</label>
						<input class="form-control" name="passwordLoginInput" id="inputPasswordLogin" type="password" data-bvStrict="reg:^.{5,}">
						<span class="help-block error-message">Passwort muss mindestens aus 5 Zeichen bestehen</span>
					</div>
						
					<button type="submit" class="btn btn-primary">Anmelden</button>
							
				</form>
				
			</div>
		</div>
	</div>
</div>