<div class="modal fade" id="ModalLogin" tabindex="-1" role="dialog" aria-labelledby="meinModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div>
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Schließen</span></button>
				<h4 class="modal-title" id="meinModalLabel">Anmelden</h4>
			</div>
			
			<div class="modal-body">
						
				<form id="form-login" onsubmit="return false">
					
					<div class="row form-group">
						<label for="identifier">E-Mail-Adresse / Benuzername</label>
						<input class="form-control" rows="3" name="identifier" id="inputUsername" type="text">
						<div class="help-block error-message"></div>
					</div>
							
					<div class="row form-group">
						<label for="password">Passwort</label>
						<input class="form-control" name="password" id="inputPasswordLogin" type="password">
						<span class="help-block error-message"></span>
					</div>
					
					<div class="row checkbox">
						<label for="remember">
							<input type="checkbox" name="remember" id="remember"> Speichern?
						</label>
					</div>
						
					<button type="submit" class="btn btn-primary" id="loginBtn">Anmelden</button>
							
				</form>
				
			</div>
		
			<div class="modal-header">
					<h4 class="modal-title" id="meinModalLabel2">Anmelden via Facebook, GitHub, Twitter oder Google</h4>
			</div>
			
			<div class="modal-body">
							
				<form id="form-login-oauth" onsubmit="return false">
						
					<button type="submit" class="btn btn-primary">Anmelden</button>
								
				</form>
					
			</div>
			</div>
		</div>
	</div>
</div>