<div class="row clearfix" id="filterContainer">

	<div class="col-md-3 column">
		<div class="input select rating-underline">
			<select id="spatialFilter">
			   <option value="" selected="selected"></option>
			   <option value="5">5</option>
			   <option value="10">10</option>
			   <option value="20">20</option>
			   <option value="50">50</option>
			   <option value="100">100</option>
			   <option value="200">200</option>
			   <option value="500">500</option>
			</select>
		</div>
	</div>

	<div class="col-md-2 column">
		<div class="input select rating-stars" style="margin-left: 12px">
			<select id="ratingFilter">
				<option value="" selected="selected"></option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
			</select>
		</div>
	</div>

	<div class="col-md-2 column">
		<div class="form-group">
			<div class="input-group">
				<input class="form-control" type="text" placeholder="Startzeitpunkt" datepicker data-trigger="#show-datepicker-start">
				<span id="show-datepicker-start" class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
			</div>
		 </div> 
	</div>
	<div class="col-md-2 column">
		<div class="form-group">
			<div class="input-group">
				<input class="form-control" type="text" placeholder="Endzeitpunkt" datepicker data-trigger="#show-datepicker-end">
				<span id="show-datepicker-end" class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
			</div>
		</div> 
	</div>

	<div class="col-md-3 column">
		<div class="input-group">
			<input type="text" class="form-control" placeholder="Stichwortsuche">
			<div class="input-group-btn">
				<button type="submit" class="btn btn-primary"> <span class="glyphicon glyphicon-search"></span> </button>&nbsp;
			</div>
		</div>
	</div>
</div>

<hr>		
<!-- Div for map/comments - beginning -->
<div class="row clearfix" id="mapComments">
	<!-- Div for map - beginning -->
	<div class="col-md-8 column">
		<div id="map"></div>
	</div>
	<!-- Div for map - ending -->

	<!-- Div for comments - beginning -->
	<div class="col-md-4 column">
		<h3 class="text-info">
			Kommentare ...
		</h3>
		<br>

		<!-- Tabs for comments with and woithout spatial reference -->
		<ul class="nav nav-tabs nav-justified">
			<li class="active"><a href="#commentWithGeo" data-toggle="tab">... mit räumlichem Bezug</a></li>
			<li><a href="#commentWithOutGeo" data-toggle="tab">... ohne räumlichen Bezug</a></li>
		</ul>
		<div class="tab-content commentScrollBox">

			<!-- Tab for comments with spatial reference -->		
			<div role="tabpanel" class="tab-pane active list-group" id="commentWithGeo">

			<!-- Tab for comments without spatial reference -->
			<div role="tabpanel" class="tab-pane list-group" id="commentWithOutGeo">

		</div>
	</div>
	<!-- Div for comments - ending -->
</div>
<!-- Div for map/comments - ending -->

<!-- For barRating-plugin; loaded in header, otherwise it doesnt works -->
<script type="text/javascript" src="/js/plugins/barRating/jquery.barrating.min.js"></script>
<script type="text/javascript" src="/js/plugins/barRating/rating-views.js"></script>

<!-- For the datePicker-plugin -->
<script type="text/javascript" src="/js/plugins/datePicker/datepicker.min.js"></script>
<script type="text/javascript" src="/js/plugins/datePicker/datePicker-views.js"></script>