<div class="row clearfix" id="filterContainer">
	
	<div class="row clearfix">

		<div class="col-md-4 column">
			<div class="col-md-6 column">
				<label class="label-filter"> 
					Wähle Start- und Endzeitpunkt
				</label>
			</div>
		</div>
	
		<div class="col-md-4 column">
			<label class="label-filter"> 
				Suche innerhalb der Kommentare
			</label>
		</div>	
	
		<div class="col-md-4 column">
			
			<div class="col-md-7 column">
				<label class="label-filter"> 
					Lege einen Umkreis fest
				</label>
			</div>
		
			<div class="col-md-5 column">
				<label class="label-filter"> 
					Bewertung größer als ... ?
				</label>
			</div>
			
		</div>
		
	</div>
	
	<div class="row clearfix">

		<div class="col-md-4 column">
		
			<div class="col-md-6 column">
				<div class="form-group">
					<div class="input-group">
						<input class="form-control" type="text" placeholder="Startzeitpunkt" datepicker data-trigger="#show-datepicker-start">
						<span id="show-datepicker-start" class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
					</div>
				 </div> 
			</div>
			
			<div class="col-md-6 column">
				<div class="form-group">
					<div class="input-group">
						<input class="form-control" type="text" placeholder="Endzeitpunkt" datepicker data-trigger="#show-datepicker-end">
						<span id="show-datepicker-end" class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
					</div>
				</div> 
			</div>
			
		</div>
	
		<div class="col-md-4 column">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Stichwortsuche">
				<div class="input-group-btn">
					<button type="submit" class="btn btn-primary"> <span class="glyphicon glyphicon-search"></span> </button>&nbsp;
				</div>
			</div>
		</div>	
	
		<div class="col-md-4 column">
			
			<div class="col-md-7 column">
				<div class="input select rating-underline">
					<select id="spatialFilter">
					   <option value="" selected="selected"></option>
					   <option value="5">5</option>
					   <option value="10">10</option>
					   <option value="20">20</option>
					   <option value="50">50</option>
					   <option value="100">100</option>
					   <option value="200">200</option>
					   <option value="500">500</option>
					</select>
				</div>
			</div>
		
			<div class="col-md-5 column">
				<div class="input select rating-stars">
					<select id="ratingFilter">
						<option value="" selected="selected"></option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
					</select>
				</div>
			</div>
			
		</div>
		
	</div>
	
</div>

<hr>		
<!-- Div for map/comments - beginning -->
<div class="row clearfix" id="mapComments">
	<!-- Div for map - beginning -->
	<div class="col-md-8 column">
		<div id="map"></div>
	</div>
	<!-- Div for map - ending -->

	<!-- Div for comments - beginning -->
	<div class="col-md-4 column">
		
		<label class="text-primary labelComments"> 
			Geodaten
		</label>
		
		<hr class="dividing-line">

		<div id="commentsShow">
			
		</div>
		
	</div>
	<!-- Div for comments - ending -->
</div>
<!-- Div for map/comments - ending -->

<!-- For barRating-plugin; loaded in header, otherwise it doesnt works -->
<script type="text/javascript" src="/js/plugins/barRating/jquery.barrating.min.js"></script>
<script type="text/javascript" src="/js/plugins/barRating/rating-views.js"></script>

<!-- For the datePicker-plugin -->
<script type="text/javascript" src="/js/plugins/datePicker/datepicker.min.js"></script>
<script type="text/javascript" src="/js/plugins/datePicker/datePicker-views.js"></script>