<div class="modal fade" id="ModalRegister" tabindex="-1" role="dialog" aria-labelledby="meinModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Schließen</span></button>
				<h4 class="modal-title" id="meinModalLabel">Registrieren</h4>
			</div>
			<div class="modal-body">
			
				<form id="form-register" onsubmit="return false">
							
					<div class="row form-group">
						<label for="nameInput">Name</label>
						<input class="form-control" name="nameInput" id="inputNameForRegister" type="text" data-bvStrict="reg:^.{5,}">
						<div class="help-block error-message">Bitte füge Namen mit mid. 5 Zeichen hinzu</div>
					</div>
							
					<div class="row form-group">
						<label for="mailInput">E-Mail-Adresse</label>
						<input class="form-control" name="mailInput" id="inputMailForRegister" type="text" data-bvStrict="email" data-bvEmpty="@">
						<div class="help-block error-message">Dies ist keine E-Mail-Adresse</div>
					</div>
					
					<div class="row form-group">
						<label for="passwordRegisterInput">Passwort</label>
						<input class="form-control" name="passwordRegisterInput" id="inputPasswordRegister" type="password" data-bvStrict="reg:^.{5,}">
						<span class="help-block error-message">Passwort muss mindestens aus 5 Zeichen bestehen</span>
					</div>
							
					<div class="row form-group">
						<label for="passRepeatInput">Passwort wiederholen</label>
						<input class="form-control" name="passRepeatInput" id="inputPasswordRepeat" type="password" data-bvStrict="same:passwordRegisterInput">
						<span class="help-block error-message">Passwörter stimmen nicht überein</span>
					</div>
						
					<button type="submit" class="btn btn-primary" id="registerBtn">Registrieren</button>
							
				</form>
						
			</div>
		</div>
	</div>
</div>

<!-- For formValidator-plugin -->
<script type="text/javascript" src="/js/plugins/formValidator/bvalidator.jquery.js"></script>
<script type="text/javascript" src="/js/plugins/formValidator/validator-views.js"></script>